.card {
  background-color: white;
  color: black;
  font-family: Courier New;
  font-size: 16px;
  text-align: center;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.lines {
  text-align: left;
}

.cloze {
  color: blue;
  text-align: left;
  font-weight: bold;
}

.title {
  font-size: small;
  text-align: center;
}

.image {
  visibility: hidden;
  height: 50%;
  width: 50%;
  position: fixed;
  bottom: 0px;
  left: 20%;
}

.chord {
  color: #ff3300;
}

.chord:hover {
  background-color: #ff3300;
  color: white;
 }

.chord:hover + .image {
  visibility: visible;
}
